@value mediaQuery from "/src/common/size.css";
@value makerGreen, makerLightPink, makerWhite, makerGrey from "/src/common/colors.css";

.editor {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 0 2em;
}

.title {
  text-align: center;
  color: makerGreen;
  margin-bottom: 1rem;
}

@media screen and (max-width: mediaQuery) {
  .editor {
    width: 100%;
  }
}