@value mediaQuery from "/src/common/size.css";

.mainContainer {
  height: 100vh;
}

.main {
  display: flex;
  height: 85%;
  padding: 2rem 1rem;
}

@media screen and (max-width: mediaQuery) {
  .main { 
    flex-direction: column;
  }
}