@value makerWhite, makerGreen, makerLightPink, makerGrey from '../../common/colors.css';

.loginContainer {
  width: 100%;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  padding: auto 0;
  background-color: makerWhite;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.loginButton {
  font-size: 1rem;
  width: 100%;
  padding: 0.5em 12em;
  margin-bottom: 0.3em;
  border-radius: 1.2rem;
  background-color: makerWhite;
  border: 0.1rem solid makerGreen;
  cursor: pointer;
}

.loginButton:hover {
  background-color: makerLightPink;
}